body {
    font-family: Poppins;
    background-color: rgb(255, 255, 255);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.title{
    font-size: xx-large;
    color: #000000;
}
.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
#Btn1 {
    background-color: #001aff;
        color: #ffffff;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}
#Btn2 {
    background-color: #000000;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}

.table-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

table {
    width: 50%;
    border-collapse: collapse;
}

th, td {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}
tr {
    border-bottom: 1px solid #000000;
}