
body {
    font-family: Poppins;
    background-color: rgb(79, 79, 255);
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;

}
.title{
    font-size: xx-large;
    color: #000000;
}
.container{
    width: 900px;
    margin: auto;
    max-width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    transition: transform .5s;
}
#Btn1 {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}
#Btn2 {
    background-color: #001aff;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}
.btn3 {
background-color: #ffffff;
color: #000000;
border: none;
padding: 5px 10px;
margin-top: 10px;
border-radius: 20px;
}

.btn4 {
background-color: #001aff;
color: #ffffff;
border: none;
padding: 5px 10px;
margin-top: 10px;
border-radius: 20px;
}
.ProductContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

#productTable {
    width: 50%;
    border-collapse: collapse;
    text-align: left;
    padding: 8px;
    background-color: #ffffff;
}

#productTable tr {
    border-bottom: 1px solid #000000;
}
